<div class="details-form">
  <h1>Post Form</h1>
  <input type="text" placeholder="Post Title" [(ngModel)]="postTitle" />
  <br /><br />
  <textarea
    placeholder="Post details"
    [(ngModel)]="postDescription"
    rows="6"
    cols="25"
  ></textarea
  ><br /><br />
  <input type="text" placeholder="Image Url" [(ngModel)]="imageUrl" />
  <br /><br />
  <input type="text" placeholder="Website Url" [(ngModel)]="websiteUrl" />
  <br /><br />
  <input type="checkbox" [(ngModel)]="isBackground" /> Add Background
  <br />
</div>
<div class="details-display">
  <img [src]="imageUrl" alt="" class="main-image" />
  <h1 [class.text-background]="isBackground">{{ postTitle }}</h1>
  <p>{{ postDescription }}</p>
  <a
    [href]="websiteUrl"
    target="_blank"
    [style.display]="websiteUrl ? 'block' : 'none'"
    >Website</a
  >
</div>
